[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "==1.1.4"
seaborn = "*"
scikit-learn = "*"
matplotlib = "*"
plotly = "*"
statsmodels = "*"
loguru = "*"
requests = "*"
neo4j-driver = "*"
tqdm = "*"
pillow = "*"
jupyterlab = "*"
bioservices = "*"
networkx = "*"
rpy2 = "==3.3.6"
tzlocal = "*"
pals-pathway = "*"
"pep517" = "*"
gevent = "==20.12.1"

[dev-packages]
twine = "*"

[requires]
python_version = "3"
