[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
pandas = "==1.1.4"
seaborn = "*"
scikit-learn = "*"
matplotlib = "*"
plotly = "*"
statsmodels = "*"
loguru = "*"
requests = "*"
neo4j-driver = "==1.7.6"
tqdm = "*"
pillow = "*"
jupyterlab = "==2.2"
bioservices = "*"
networkx = "*"
rpy2 = "==3.3.6"
pals-pathway = "*"

[dev-packages]
twine = "*"

[requires]
python_version = "3"
